body {
    font-size: 18px;
}

h1 {
    font-size: 2.5rem;
    color: rgb(204, 0, 255);
}

h2 {
    font-size: 2.1rem;
    color: rgba(25, 25, 235, 0.729);
}

#result5, #result6{
    font-weight: 700;
}